body{
    margin: 0 auto;
}

.blackdiv{
    background-color:rgb(59 , 59 , 59);
    width: 30%;  
}

@media screen and(max-width: 577px ) {
    blackdiv {
        width: 100%;
    }
} 

.icon{
    margin-left: 50px;
    font-weight: bold;
}

.information{
    font-weight: bold;
}

.img{
    width: 150px;
   
}

.name{
    margin-left: 60px;
}

.place{
    margin-left: 50px;
}

.police{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    
}

.quality{
    margin-left:30px ;
    font-weight: bold;
}

.subtitle{
    font-weight: bold;
}
.text{
    margin-left: 70px;
    font-size: small;
}

.title{
    color: #2babe2;
    text-decoration: underline;
    margin-left: 30px ;
}

.whitediv{
    background-color:rgb(255, 255, 255);
    width: 70%; 
    height: 100vh; 
    right: 0px;
    float: right ;

}







