body{
    margin: 0 auto;
    -webkit-animation: theme 21s linear infinite;
    animation: theme 21s linear infinite;
}

.blackdiv{
    background-color:rgb(112, 111, 111);
    width: 30%;  
}

@media screen and(max-width: 577px ) {
    blackdiv {
        width: 100%;
    }
} 

.icon{
    margin-left: 50px;
    font-weight: bold;
}

.information{
    font-weight: bold;
}

.img{
    width: 150px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
   
}

.name{
    text-align: center;
    color:  #2babe2;
    
}

.place{
    margin-left: 50px;
}

.police{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    
}

.quality{
    margin-left:30px ;
    font-weight: bold;
}

.subtitle{
    font-weight: bold;
}
.text{
    margin-left: 70px;
    font-size: small;
}

.title{
    color: #2babe2;
    text-decoration: underline;
    margin-left: 30px ;
}

.whitediv{
    /*background-color:rgb(255, 255, 255);*/
    width: 70%; 
    height: 100vh; 
    right: 0px;
    float: right ;

}
body:after, body:before {
    content: "";
    display: block;
    position: fixed;
    z-index: -1;
    top: 0;
    width: 100vw;
    height: 100vh;
    width: 100vmax;
    height: 100vmax;
    background: rgba(0, 0, 0, 0.05);
    -webkit-animation: background 90s linear infinite;
            animation: background 90s linear infinite;
  }

body:after {
    left: 15vw;
  }
body:before {
    right: 15vw;
    -webkit-animation-delay: -30s;
            animation-delay: -30s;
    animation-direction: reverse;
  }
  @-webkit-keyframes theme {
    0% {
        background: #efe6d5;
      }
      33% {
        background: #9dbeb7;
      }
      66% {
        background: #e44c31;
      }
      100% {
        background: #efe6d5;
      }
  }
  
  @keyframes theme {
    0% {
        background: #efe6d5;
      }
      33% {
        background: #9dbeb7;
      }
      66% {
        background: #e44c31;
      }
      100% {
        background: #efe6d5;
      }
  }
  @-webkit-keyframes background {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes background {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  /*----------------------------------------------------------------------------------------------------- link Button ------------------------------------------------------------------------------------------------------------------------*/

button {
    margin: 20px;
    
  }

.button1{
    margin-left: 60px;
  }
.button2{
  margin-left: 150px;
}
.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }

.btn-link {
  background: rgb(0,172,238);
  background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;    
}
.btn-link span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
.btn-link:before,
.btn-link:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
     background: rgba(2,126,251,1);
    transition: all 0.3s ease;
  }
.btn-link:before {
    height: 0%;
    width: 2px;
  }
.btn-link:after {
    width: 0%;
    height: 2px;
  }
.btn-link:hover{
     background: transparent;
    box-shadow: none;
  }
.btn-link:hover:before {
    height: 100%;
  }
.btn-link:hover:after {
    width: 100%;
  }
.btn-link span:hover{
     color: rgba(2,126,251,1);
  }
.btn-link span:before,
.btn-link span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
     background: rgba(2,126,251,1);
    transition: all 0.3s ease;
  }
.btn-link span:before {
    width: 2px;
    height: 0%;
  }
.btn-link span:after {
    width: 0%;
    height: 2px;
  }
.btn-link span:hover:before {
    height: 100%;
  }
.btn-link span:hover:after {
    width: 100%;
  }

/*----------------------------------------------------------------------------- Dropdown ----------------------------------------------------------------------------*/

.dropdown-place{
  float: right;
  right: 0;
  z-index: 1;
  align-items: center;
  display: flex;
}

:root{
  --hauteur-menu: 60px;
}
* {
  margin: 0px;
  padding: 0px;
  font-family: Montserrat, sans-serif;
}
nav {
  width: 100%;
  font-size: 18px;
  position: sticky;
  top: 0;
}

nav > ul {
  display: flex;
  text-align: center;
  box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.3);
  height: var(--hauteur-menu);
}
 
nav ul {
  list-style-type: none;
}

nav > ul > li {
  background-color: transparent;
  position: relative;
  height: 100%;
  flex: 1;
}
nav > ul > li > a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

li a {
  text-decoration: none;
  color: black;
}

.dropdown > a:after{
  content: 'â¯';
  font-size: 15px;
  margin-left: 7px;
  display: inline-block;
}
.sub-menu {
  margin-top: var(--hauteur-menu);
  width: 100%;
  background-color: transparent;
  border-radius: 2px;
  overflow: hidden;
  max-height: 0;

}

.sub-menu > li > a {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
}

nav > ul > li:hover > a{
  color: #000000;
}

.sub-menu > li:hover {
  background-color: transparent;
}

.sub-menu > li:hover > a {
  color: transparent;
}

@keyframes rotationFleche {
  0% {
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(90deg);
  }
}

@keyframes apparitionSousMenu {
  0% {
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0);
    border-top: 3px solid #000000;
  }
  30% {
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
  }
  100% {
    max-height: 50em;
    border-top: 3px solid #000000;
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
  }
}

.dropdown:hover > a:after{
  animation: rotationFleche 0.2s linear forwards;
}

.dropdown:hover > .sub-menu {
  animation: apparitionSousMenu 1s forwards;
}




