body{
    margin: 0 auto;
    -webkit-animation: theme 21s linear infinite;
    animation: theme 21s linear infinite;
}

.blackdiv{
    background-color:rgb(59 , 59 , 59);
    width: 30%;  
}

@media screen and(max-width: 577px ) {
    blackdiv {
        width: 100%;
    }
} 

.icon{
    margin-left: 50px;
    font-weight: bold;
}

.information{
    font-weight: bold;
}

.img{
    width: 150px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
   
}

.name{
    text-align: center;
    color:  #2babe2;
    
}

.place{
    margin-left: 50px;
}

.police{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    
}

.quality{
    margin-left:30px ;
    font-weight: bold;
}

.subtitle{
    font-weight: bold;
}
.text{
    margin-left: 70px;
    font-size: small;
}

.title{
    color: #2babe2;
    text-decoration: underline;
    margin-left: 30px ;
}

.whitediv{
    /*background-color:rgb(255, 255, 255);*/
    width: 70%; 
    height: 100vh; 
    right: 0px;
    float: right ;

}
body:after, body:before {
    content: "";
    display: block;
    position: fixed;
    z-index: -1;
    top: 0;
    width: 100vw;
    height: 100vh;
    width: 100vmax;
    height: 100vmax;
    background: rgba(0, 0, 0, 0.05);
    -webkit-animation: background 90s linear infinite;
            animation: background 90s linear infinite;
  }

body:after {
    left: 15vw;
  }
body:before {
    right: 15vw;
    -webkit-animation-delay: -30s;
            animation-delay: -30s;
    animation-direction: reverse;
  }
  @-webkit-keyframes theme {
    0% {
      background: #74C390;
    }
    50% {
      background: #51BCE8;
    }
    100% {
      background: #74C390;
    }
  }
  
  @keyframes theme {
    0% {
      background: #74C390;
    }
    50% {
      background: #51BCE8;
    }
    100% {
      background: #74C390;
    }
  }
  @-webkit-keyframes background {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes background {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  






